{% set loggedIN = '1' %}
{% set charname = 'sabercat' %}
{% set characterID = '210383611' %}

<div class="container"> 
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-4 col-xs-4">
            <h1><img src="images/Logo2.png" style="margin-left: 40px; margin-top: 20px;"></h1>
        </div>
        {% if loggedIN == 1 %}
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <div class="user" style="float: right">
                <p class="avatar">
                    <img class="avatar" alt="" src="https://image.eveonline.com/Character/{{ characterID }}_128.jpg"  style="height: 100px; margin-top: 20px"></img>
                </p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <ul class="reset" type="none" style="margin-top: 20px">
                <li><span>Welcome,</span></li>
                <li class="greeting"><span style="color: #f6c000">{{ charname }}</span></li>
                <li class="#"><span></span></li>
                <br>
                <li class="#"><a href="#">Log off</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
 </div>
        
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{#BRAND#}</a>
        </div>
{% if loggedIN == 1 %}
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li{{isIndex}}><a href="index.php">HOME</a></li>
                <li{{isAdmin}}><a href="admin.php">ADMIN</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">SETTINGS<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu"></a></li>
                    <li><a href="#">PROFILE</a></li>
                    <li><a href="#">SOMETHING ELSE :)</a></li>
                    <li class="divider"></li>
                    <li><a href="logout.php">LOGOUT</a></li>
                </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
{% else %}
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li{{isIndex}}><a href="../index.php">HOME</a></li>
                <li{{isLogin}}><a href="../login.php">LOGIN</a></li>
                <li{{isReg}}><a href="../reg.php">REGISTRTION</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
{% endif %}