{#{% set loggedIN = '1' %}
{% set charname = 'sabercat' %}
{% set characterID = '210383611' %}#}

<div class="container" id="header"> 
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <img src="images/logoSW.png" style="margin: 30px;"></img>
        </div>
        <div class="col-sm-4 col-xs-6">
                
        </div>
        {% if loggedIN == 1 %}
        <div class="col-sm-4 col-xs-12">
                <ul class="reset pull-right" type="none" style="margin-top: 20px">
                    <li><img class="avatar" alt="" src="https://image.eveonline.com/Character/{{characterID}}_128.jpg" style="height: 80px;"></img></li>
                    <li><span>Welcome,</span></li>
                    <li class="greeting"><span style="color: #f6c000;">{{characterName}}</span></li>
                </ul>
        </div>
        {% endif %}
    </div>
 </div>
        
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{#BRAND#}</a>
        </div>
{% if loggedIN == 1 %}
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li{{isIndex}}><a href="index.php">HOME</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">KILLBOARDS<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu"></a></li>
                    <li><a href="http://kb.redalliance.ru/">Red Alliance</a></li>
                    <li><a href="#">Southern Federation</a></li>
                    <li><a href="#">....</a></li>
                </ul>
                </li>
                <li{{isAdmin}}><a href="admin.php">ADMIN</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">SETTINGS<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu"></a></li>
                    <li><a href="settings.php">PROFILE</a></li>
                    <li><a href="settings.php?a=api">API</a></li>
                </ul>
                </li>
                <li><a href="logout.php">LOGOUT</a></li>
            </ul> 
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
{% else %}
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li{{isIndex}}><a href="../index.php">HOME</a></li>
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">KILLBOARDS<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu"></a></li>
                    <li><a href="http://kb.redalliance.ru/">Red Alliance</a></li>
                    <li><a href="#">Southern Federation</a></li>
                    <li><a href="#">....</a></li>
                </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li{{isLogin}}><a href="../login.php">LOGIN</a></li>
                <li{{isReg}}><a href="../reg.php">REGISTRTION</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
{% endif %}