{% extends "base.twig" %}

{% block title %}Main Page{% endblock %}

{% block content %}
<div class="container">
<!--<img src='../images/start.jpg'> надо куда-то впихнуть в индекс если не залогинен-->    
    {% if successLogin is defined %}
        {% set isSuccessHidden = "" %}
    {% else %}
        {% set isSuccessHidden = "hidden" %}
    {% endif %}
    <div class="alert alert-danger" role="alert" id="success2" {{isSuccessHidden}}>
        {{successLogin}}
    </div>
    
    <div id="column-1">
        <div style="margin-top: 10px;">
            <center><img src="images/EVElogo.png"></img></center> 
        </div>
        <ul class="reset pull-left" type="none" style="margin-top: 10px">
            <li>EVE Online status: <span id="online">{{eve.status}}</span></li>
            <li>Current Clients: <span id="online">{{eve.online}}</span></li>
        </ul>
    </div>
    <div id="column-2">
       <div style="margin-top: 10px;">
            <center><img src="images/TSlogo.png"></img></center>
       </div>
        <ul class="reset pull-left" type="none" style="margin-top: 10px">
            <li>TeamSpeak status: <span id="online">{{ts.status}}</span></li>
            <li>Current Clients: <span id="online">{{ts.online}}</span></li>
        </ul>
    </div>
    <div id="column-3">
        <div style="margin-top: 10px;">
            <center><img src="images/Jabber_logo.png"></img></center>
        </div>
        <ul class="reset pull-left" type="none" style="margin-top: 10px">
            <li>Jabber status: <span id="online">{{jabber.status}}</span></li>
            <li>Current Clients: <span id="online">{{jabber.online}}</span></li>
        </ul>
    </div>
</div>
{% endblock %}
