{% extends "base.twig" %}

{% block title %}Posmon{% endblock %}

{% block content %}
    {% if errorMsg is defined %}
        {% set isErrorHidden = "" %}
    {% else %}
        {% set isErrorHidden = "hidden" %}
    {% endif %}
    
    <script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    
    <div id="formSettings">
    <div class="container" id="posmon">            
        <h1>POS MONITOR</h1>
        <div class="alert alert-danger" role="alert" {{isErrorHidden}}>
            {{errorMsg}}
        </div>
        {% set i = 0 %}
        {% set j = 0 %}
        {% for allianceName, alliancePoses in posList%}
            <a data-toggle="collapse" href="#posmonAlliance{{j}}" aria-expanded="false" aria-controls="collapsePosmonAlliance"><center><h2 style="color: #fff;">{{ allianceName }}</h2></center></a>
                <div class="collapse in" id="posmonAlliance{{j}}">
                    {% for corpName, corpPoses in alliancePoses%}
                    <a data-toggle="collapse" href="#posmonCorp{{i}}" aria-expanded="false" aria-controls="collapsePosmonCorp"><h2 id="posmonH2">{{ corpName }}</h2></a>
                        <div class="collapse in" id="posmonCorp{{i}}">
                            <table class="table table-condensed tablesorter" style="width: 97%; margin: 0 auto; margin-left: 5px;" id="posmonSort{{i}}">
                                <thead>
                                    <tr></tr>
                                    <tr align="center">
                                        <th width = "5%"><center><span class="glyphicon glyphicon-refresh" style="color:#ccc;"></span></center></th>
                                        <th width = "7%"><center><a id="tablehead" style="font-size: 14px;">SYSTEM </a><i class="fa fa-sort" style="color:#ccc;"></i></center></th>
                                        <th width = "7%"><center><a id="tablehead" style="font-size: 14px;">CONST </a><i class="fa fa-sort" style="color:#ccc;"></i></center></th>
                                        <th width = "7%"><center><a id="tablehead" style="font-size: 14px;">REGION </a><i class="fa fa-sort" style="color:#ccc;"></i></center></th>
                                        <th width = "18%"><center><a id="tablehead" style="font-size: 14px;">TYPE </a><i class="fa fa-sort" style="color:#ccc;"></i></center></th>
                                        <th width = "9%"><center><a id="tablehead" style="font-size: 14px;">MOON </a><i class="fa fa-sort" style="color:#ccc;"></i></center></th>
                                        <th width = "7%"><center><a id="tablehead" style="font-size: 14px;">STATE </a><i class="fa fa-sort" style="color:#ccc;"></i></center></th>
                                        <th width = "10%"><center><a id="tablehead" style="font-size: 14px;">FUEL LEFT </a><i class="fa fa-sort" style="color:#ccc;"></i></center></th>
                                        <th width = "12%"><center><a id="tablehead" style="font-size: 14px;">STRON. TIMER </a><i class="fa fa-sort" style="color:#ccc;"></i></center></th>
                                        <th width = "18%"><center><a id="tablehead" style="font-size: 14px;">MOONMAT(S) / SILO(S) </a><i class="fa fa-sort" style="color:#ccc;"></i></center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pos in corpPoses%}
                                        <tr>
                                            <td><center><img src="https://image.eveonline.com/Type/{{pos.typeID}}_64.png"></center></td>
                                            <td><center><span style="font-size: 14px;">{{pos.locationName}}</span></center></td>
                                            <td><center><span style="font-size: 14px;">{{pos.constellation}}</span></center></td>
                                            <td><center><span style="font-size: 14px;">{{pos.region}}</span></center></td>
                                            <td><center><span style="font-size: 14px;">{{pos.typeName}}</span></center></td>
                                            <td><center><span style="font-size: 14px;">{{pos.moonName}}</span></center></td>
                                            <td>
                                                <center>
                                                    {% if pos.state == 4 %}
                                                        {% set id = "success" %}
                                                        {% set msg = "Online" %}
                                                        {% set rftime = pos.rfTime.d ~ "d " ~ pos.rfTime.h ~ "h" %}
                                                    {% elseif pos.state == 3 %}
                                                        {% set id = "danger" %}
                                                        {% set msg = "Reinforced" %}
                                                        {% set rftime = pos.stateTimestamp %}
                                                    {% elseif pos.state == 2 %}
                                                        {% set id = "success" %}
                                                        {% set msg = "Onlining / Offlining" %}
                                                        {% set rftime = pos.rfTime.d ~ "d " ~ pos.rfTime.h ~ "h" %}
                                                    {% elseif pos.state == 1 %}
                                                        {% set id = "offline" %}
                                                        {% set msg = "Offline" %}
                                                        {% set rftime = pos.rfTime.d ~ "d " ~ pos.rfTime.h ~ "h" %}
                                                    {% elseif pos.state == 0 %}
                                                        {% set id = "offline" %}
                                                        {% set msg = "Unanchored" %}
                                                        {% set rftime = pos.rfTime.d ~ "d " ~ pos.rfTime.h ~ "h" %}
                                                    {% endif %}
                                                    <span id="{{id}}" style="font-size: 14px;">{{msg}}</span>
                                                </center>
                                            </td>
                                            {% if (pos.time.d < 1) %}
                                                <td><center><span id = "danger" title="{{pos.fuel}} Fuel Blocks" style="font-size: 14px;">{{pos.time.d}}d {{pos.time.h}}h</span></center></td>
                                            {% else %}
                                                <td><center><span title="{{pos.fuel}} Fuel Blocks" style="font-size: 14px;">{{pos.time.d}}d {{pos.time.h}}h</span></center></td>
                                            {% endif %}
                                            <td>
                                                <center><span title="{{pos.stront}} Strontium clathrates" style="font-size: 14px;">{{rftime}}</span></center>
                                            </td>
                                            {% if pos.silo.0 is defined %}
                                                <td>
                                                    <table width="100%" height="100%" cellpadding="2" cellspacing="1" style="font-size: 14px;">
                                                        {% for silo in pos.silo %}
                                                            {% if silo.siloID is defined %} 
                                                                <tr>
                                                                    {% if (pos.silo.altPoses|length > 1) %}
                                                                        <td width="75%">
                                                                            <ul class="nav nav-pills">
                                                                                <center><li class="dropdown" id="silo">
                                                                                {% if ((silo.quantity * silo.mmvolume) / silo.siloMax > 0.9) %}
                                                                                    <center><span id = "danger" title="{{silo.quantity * silo.mmvolume}}/{{silo.siloMax}}" style="font-size: 14px;">{{silo.mmname}}</center></span>
                                                                                {% else %}
                                                                                    <center><span title="{{silo.quantity * silo.mmvolume}}/{{silo.siloMax}}" style="font-size: 14px;">{{silo.mmname}}</center></span>
                                                                                {% endif %}
                                                                                </li></center>
                                                                            </ul></td>
                                                                    {% else %}
                                                                        {% if ((silo.quantity * silo.mmvolume) / silo.siloMax > 0.9) %}
                                                                            <td width="75%"><center><span id = "danger" title="{{silo.quantity * silo.mmvolume}}/{{silo.siloMax}}">{{silo.mmname}}</span></center></td>
                                                                        {% else %}
                                                                            <td width="75%"><center><span title="{{silo.quantity * silo.mmvolume}}/{{silo.siloMax}}">{{silo.mmname}}</span></center></td>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                        {% if ((silo.quantity * silo.mmvolume) / silo.siloMax > 0.9) %}
                                                                            <td bgcolor="#111" width="25%"><center><span id = "danger" title="{{silo.quantity * silo.mmvolume}}/{{silo.siloMax}}" style="font-size: 14px;">{{silo.Percentage}}%</span></center></td>
                                                                        {% else %}
                                                                            <td bgcolor="#111" width="25%"><center><span title="{{silo.quantity * silo.mmvolume}}/{{silo.siloMax}}" style="font-size: 14px;">{{silo.Percentage}}%</span></center></td>
                                                                        {% endif %}
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                     </table>
                                                </td>                   
                                            {% else %}
                                                <td><center><span style="font-size: 14px;">N/A</span></center></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% set i = i + 1 %}
                    {% endfor %}
                </div>
        {% set j = j + 1 %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
