{% extends "base.twig" %}

{% block title %}Posmon{% endblock %}

{% block content %}
    <script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    
    <div id="formSettings">
    <div class="container" id="posmon">            
        <h1>POS MONITOR</h1>
        {% set i = 0 %}
        {% for allianceName, alliancePoses in posList%}
            <h2>{{ allianceName }}</h2>
            {% for corpName, corpPoses in alliancePoses%}
                <h2>{{ corpName }}</h2>
                    <table class="table table-condensed" style="width: 1080px; margin-left: 30px;" id="posmonSort{{i}}">
                        <thead>
                            <tr align="center">
                                <th width = "5%"></th>
                                <th width = "5%"><center><h2>System</h2></center></th>
                                <th width = "5%"><center><h2>Region</h2></center></th>
                                <th width = "15%"><center><h2>Type</h2></center></th>
                                <th width = "20%"><center><h2>Moon</h2></center></th>
                                <th width = "10%"><center><h2>State</h2></center></th>
                                <th width = "10%"><center><h2>Fuel Left</h2></center></th>
                                <th width = "10%"><center><h2>Strontium Timer</h2></center></th>
                                <th width = "5%"><center><h2>Moon Material</h2></center></th>
                                <th width = "10%"><center><h2>Silo</h2></center></th>
                            </tr>
                        </thead>
                    <tbody>
                        {% for pos in corpPoses%}
                            <tr>
                                <td><center><img src="https://image.eveonline.com/Type/{{pos.typeID}}_64.png"></center></td>
                                <td><center><span>{{pos.locationName}}</span></center></td>
                                <td><center><span>{{pos.region}}</span></center></td>
                                <td><center><span>{{pos.typeName}}</span></center></td>
                                <td><center><span>{{pos.moonName}}</span></center></td>
                                <td>
                                    <center>
                                        {% if pos.state == 4 %}
                                            {% set id = "success" %}
                                            {% set msg = "Online" %}
                                            {% set rftime = pos.rfTime.d ~ "d " ~ pos.rfTime.h ~ "h" %}
                                        {% elseif pos.state == 3 %}
                                            {% set id = "danger" %}
                                            {% set msg = "Reinforced" %}
                                            {% set rftime = pos.stateTimestamp %}
                                        {% elseif pos.state == 2 %}
                                            {% set id = "success" %}
                                            {% set msg = "Onlining/Offlining" %}
                                            {% set rftime = pos.rfTime.d ~ "d " ~ pos.rfTime.h ~ "h" %}
                                        {% elseif pos.state == 1 %}
                                            {% set id = "" %}
                                            {% set msg = "Anchored / Offline" %}
                                            {% set rftime = pos.rfTime.d ~ "d " ~ pos.rfTime.h ~ "h" %}
                                        {% elseif pos.state == 0 %}
                                            {% set id = "" %}
                                            {% set msg = "Unanchored" %}
                                            {% set rftime = pos.rfTime.d ~ "d " ~ pos.rfTime.h ~ "h" %}
                                        {% endif %}
                                        <span id="{{id}}">{{msg}}</span>
                                    </center>
                                </td>
                                <td><center><span>{{pos.time.d}}d {{pos.time.h}}h</span></center></td>
                                <td>
                                    <center><span>{{rftime}}</span></center>
                                </td>
                                {% if pos.silo.0 is defined %}
                                    <td><center><i class="fa fa-circle" style="color:#ccc; cursor: pointer;" title="N/A">N/A</i></center></td>
                                    <td><center><i class="fa fa-cubes" style="color:#ccc; cursor: pointer;" title="{{pos.silo.0.quantity}}/{{pos.silo.0.siloMax}}">{{pos.silo.0.Percentage}}%</i></center></td>
                                {% else %}
                                    <td><center><i class="fa fa-circle" style="color:#ccc; cursor: pointer;" title="N/A">N/A</i></center></td>
                                    <td><center><i class="fa fa-cubes" style="color:#ccc; cursor: pointer;">N/A</i></center></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% set i = i + 1 %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>
{% endblock %}{# empty Twig template #}
