{% extends "base.twig" %}

{% block title %}Posmon{% endblock %}

{% block content %}
    {% if errorMsg is defined %}
        {% set isErrorHidden = "" %}
    {% else %}
        {% set isErrorHidden = "hidden" %}
    {% endif %}
    
    <script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    
    <div id="formSettings">
    <div class="container" id="posmon">            
        <h1>POS MONITOR</h1>
        <div class="alert alert-danger" role="alert" {{isErrorHidden}}>
            {{errorMsg}}
        </div>
        {% set i = 0 %}
        {% set j = 0 %}
        {% for allianceName, alliancePoses in posList%}
            <a data-toggle="collapse" href="#posmonAlliance{{j}}" aria-expanded="false" aria-controls="collapsePosmonAlliance"><center><h2 style="color: #fff;">{{ allianceName }}</h2></center></a>
                <div class="collapse in" id="posmonAlliance{{j}}">
                    {% for corpName, corpPoses in alliancePoses%}
                    <a data-toggle="collapse" href="#posmonCorp{{i}}" aria-expanded="false" aria-controls="collapsePosmonCorp"><h2 id="posmonH2">{{ corpName }}</h2></a>
                        <div class="collapse in" id="posmonCorp{{i}}">
                            <table class="table table-condensed tablesorter" style="width: 95%; margin: 0 auto;" id="posmonSort{{i}}">
                                <thead>
                                    <tr align="center">
                                        <th width = "5%"><center><i class="fa fa-minus-circle"></i></center></th>
                                        <th width = "5%"><center><span id="tablehead">System</span></center></th>
                                        <th width = "5%"><center><span id="tablehead">Region</span></center></th>
                                        <th width = "25%"><center><span id="tablehead">Type</span></center></th>
                                        <th width = "16%"><center><span id="tablehead">Moon</span></center></th>
                                        <th width = "10%"><center><span id="tablehead">State</span></center></th>
                                        <th width = "7%"><center><span id="tablehead">Fuel Left</span></center></th>
                                        <th width = "7%"><center><span id="tablehead">Strontium Timer</span></center></th>
                                        <th width = "15%"><center><span id="tablehead">Moon Material(s) / Silo(s)</span></center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pos in corpPoses%}
                                        <tr>
                                            <td><center><img src="https://image.eveonline.com/Type/{{pos.typeID}}_64.png"></center></td>
                                            <td><center><span>{{pos.locationName}}</span></center></td>
                                            <td><center><span>{{pos.region}}</span></center></td>
                                            <td><center><span>{{pos.typeName}}</span></center></td>
                                            <td><center><span>{{pos.moonName}}</span></center></td>
                                            <td>
                                                <center>
                                                    {% if pos.state == 4 %}
                                                        {% set id = "success" %}
                                                        {% set msg = "Online" %}
                                                        {% set rftime = pos.rfTime.d ~ "d " ~ pos.rfTime.h ~ "h" %}
                                                    {% elseif pos.state == 3 %}
                                                        {% set id = "danger" %}
                                                        {% set msg = "Reinforced" %}
                                                        {% set rftime = pos.stateTimestamp %}
                                                    {% elseif pos.state == 2 %}
                                                        {% set id = "success" %}
                                                        {% set msg = "Onlining / Offlining" %}
                                                        {% set rftime = pos.rfTime.d ~ "d " ~ pos.rfTime.h ~ "h" %}
                                                    {% elseif pos.state == 1 %}
                                                        {% set id = "" %}
                                                        {% set msg = "Anchored / Offline" %}
                                                        {% set rftime = pos.rfTime.d ~ "d " ~ pos.rfTime.h ~ "h" %}
                                                    {% elseif pos.state == 0 %}
                                                        {% set id = "" %}
                                                        {% set msg = "Unanchored" %}
                                                        {% set rftime = pos.rfTime.d ~ "d " ~ pos.rfTime.h ~ "h" %}
                                                    {% endif %}
                                                    <span id="{{id}}">{{msg}}</span>
                                                </center>
                                            </td>
                                            <td><center><span>{{pos.time.d}}d {{pos.time.h}}h</span></center></td>
                                            <td>
                                                <center><span>{{rftime}}</span></center>
                                            </td>
                                            {% if pos.silo.0 is defined %}
                                                <td>
                                                    <table width="100%" height="100%" cellpadding="2" cellspacing="1">
                                                        {% for silo in pos.silo %}
                                                            {% if silo.siloID is defined %} 
                                                                <tr>
                                                                    {% if pos.silo.altPoses|length > 1 %}
                                                                        <td width="75%">
                                                                            <ul class="nav nav-pills">
                                                                                <center><li class="dropdown" id="silo">
                                                                                <a data-toggle="dropdown" role="menu" data-target="#" href="#" id="siloselect">
                                                                                        <center><span>{{silo.mmname}}<b class="caret"></b></center></span>
                                                                                    </a>
                                                                                    <ul class="dropdown-menu" id="silo">
                                                                                        {% for altpos in pos.silo.altPoses %}
                                                                                            <li><a href="updateSiloInfo.php?posID={{altpos.posID}}&siloID={{silo.siloID}}">{{altpos.moonName}}</a></li>
                                                                                        {% endfor %}
                                                                                    </ul>
                                                                                </li></center>
                                                                            </ul></td>
                                                                    {% else %}
                                                                        <td width="75%"><center><span>{{silo.mmname}}</span></center></td>
                                                                    {% endif %}
                                                                        <td bgcolor="#111" width="25%"><center><span title="{{silo.quantity}}/{{silo.siloMax}}">{{silo.Percentage}}%</span></center></td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                     </table>
                                                </td>                   
                                            {% else %}
                                                <td><center><span>N/A</span></center></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% set i = i + 1 %}
                    {% endfor %}
                </div>
        {% set j = j + 1 %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
