{% extends "base.twig" %}

{% block title %}Posmon{% endblock %}

{% block content %}
    <script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    
    <div id="formSettings">
    <div class="container" id="posmon">            
        <h1>POS MONITOR</h1>
        {% set i = 0 %}
        {% for allianceName, alliancePoses in posList%}
            <center><h2 style="color: #fff;">{{ allianceName }}</h2></center>
            {% for corpName, corpPoses in alliancePoses%}
                <h2 id="posmonH2">{{ corpName }}</h2>
                    <table class="table table-condensed" style="width: 1080px; margin-left: 30px;" id="posmonSort{{i}}">
                        <thead>
                            <tr align="center">
                                <td width = "5%"></th>
                                <td width = "5%"><center><span id="tablehead">System</span><i class="fa fa-sort" style="color:#f6c000;"></i></center></td>
                                <td width = "5%"><center><span id="tablehead">Region</span></center></td>
                                <td width = "15%"><center><span id="tablehead">Type</span></center></td>
                                <td width = "20%"><center><span id="tablehead">Moon</span><center></td>
                                <td width = "10%"><center><span id="tablehead">State</span></center></td>
                                <td width = "10%"><center><span id="tablehead">Fuel Left</span></center></td>
                                <td width = "10%"><center><span id="tablehead">Strontium Timer</span></center></td>
                                <td width = "15%"><center><span id="tablehead">Moons/Silo</span></center></td>
                            </tr>
                        </thead>
                    <tbody>
                        {% for pos in corpPoses%}
                            <tr>
                                <td><center><img src="https://image.eveonline.com/Type/{{pos.typeID}}_64.png"></i>
</center></td>
                                <td><center><span>{{pos.locationName}}</span></center></td>
                                <td><center><span>{{pos.region}}</span></center></td>
                                <td><center><span>{{pos.typeName}}</span></center></td>
                                <td><center><span>{{pos.moonName}}</span></center></td>
                                <td>
                                    <center>
                                        {% if pos.state == 4 %}
                                            {% set id = "success" %}
                                            {% set msg = "Online" %}
                                            {% set rftime = pos.rfTime.d ~ "d " ~ pos.rfTime.h ~ "h" %}
                                        {% elseif pos.state == 3 %}
                                            {% set id = "danger" %}
                                            {% set msg = "Reinforced" %}
                                            {% set rftime = pos.stateTimestamp %}
                                        {% elseif pos.state == 2 %}
                                            {% set id = "success" %}
                                            {% set msg = "Onlining/Offlining" %}
                                            {% set rftime = pos.rfTime.d ~ "d " ~ pos.rfTime.h ~ "h" %}
                                        {% elseif pos.state == 1 %}
                                            {% set id = "" %}
                                            {% set msg = "Anchored / Offline" %}
                                            {% set rftime = pos.rfTime.d ~ "d " ~ pos.rfTime.h ~ "h" %}
                                        {% elseif pos.state == 0 %}
                                            {% set id = "" %}
                                            {% set msg = "Unanchored" %}
                                            {% set rftime = pos.rfTime.d ~ "d " ~ pos.rfTime.h ~ "h" %}
                                        {% endif %}
                                        <span id="{{id}}">{{msg}}</span>
                                    </center>
                                </td>
                                <td><center><span>{{pos.time.d}}d {{pos.time.h}}h</span></center></td>
                                <td>
                                    <center><span>{{rftime}}</span></center>
                                </td>
        {% if pos.silo.0 is defined %}
        <td>
            <table width="100%" height="100%" cellpadding="2" cellspacing="1">
                <tr>
                    <td>
                        <ul class="nav nav-pills">
                            <li class="dropdown" id="silo">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="menu" data-target="#" href="#" id="siloselect">
                                    SELECT SILO
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" id="silo">
                                    <li><a href="#">HAFNIUM</a></li>
                                    <li><a href="#">PLATINUM</a></li>
                                    <li><a href="#">DYSPROSIUM</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td bgcolor="#111"><span>{{pos.silo.0.Percentage}}%</span></td>
                </tr>
                <tr>
                    <td>
                        <ul class="nav nav-pills">
                            <li class="dropdown" id="silo">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="menu" data-target="#" href="#" id="siloselect">
                                    SELECT SILO
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" id="silo">
                                    <li><a href="#">HAFNIUM</a></li>
                                    <li><a href="#">PLATINUM</a></li>
                                    <li><a href="#">DYSPROSIUM</a></li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <td bgcolor="#111"><span>{{pos.silo.0.Percentage}}%</span></td>
                </tr>
             </table>
          </td>                               
                                {% else %}
                           
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% set i = i + 1 %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>
{% endblock %}{# empty Twig template #}
