{% extends "base.twig" %}

{% block title %}Profile Settings{% endblock %}

{% block content %}
    <script type="text/javascript" src="js/scripts.js"></script>
<div class="container">
    <ul class="nav nav-tabs navbar-inverse" role="tablist">
        <li {{active.profile}}><a href="settings.php">PROFILE</a></li>
        <li {{active.api}}><a href="settings.php?a=api">EVE API</a></li>
        <li {{active.teamspeak}}><a href="settings.php?a=teamspeak">TeamSpeak</a></li>
    </ul>
 {% if curForm == 'api' %}
<!--Форма смены API-->
    {% if errorMsg is defined %}
        {% set isErrorHidden = "" %}
    {% else %}
        {% set isErrorHidden = "hidden" %}
    {% endif %}
<div id="formSettings">  
    <h1>PROFILE SETTINGS - API</h1>
    <div class="inset" id="SetIns" style="margin-bottom:0px;">
        <div class="alert alert-danger" role="alert" {{isErrorHidden}}>
        {{errorMsg}}
        </div> 
    {% if success is defined %}
        {% set isSuccessHidden = "" %}
    {% else %}
        {% set isSuccessHidden = "hidden" %}
    {% endif %}
    <div class="alert alert-danger" role="alert" id="success2" {{isSuccessHidden}}>
        {{success}}
    </div>
        <div class="alert alert-danger" role="alert-api-main" hidden></div>
        <h2>CURRENT API</h2>
        <form id="formSettings2" action="settings.php?a=api" method="post">
        <br>
        <div class="container" style="margin: 20px;">
            <span>If you want change your API put new key ID and vCode in the fields.</span><br>
            <a href="https://support.eveonline.com/api/key/createpredefined/8">You can get Key ID & vCode here</a>
        </div>
        <p>
            <label for="keyIDOld">KEY ID</label>
            <input type="text" role="keyID-main" name="keyID" value="{{saveForm.currKeyID}}"  id="keyID2">
        </p>  
        <p>
            <label for="vCodeOld">VERIFICATION CODE</label>
            <input type="text" role="vCode-main" name="vCode" value="{{saveForm.currVCode}}" id="vCode2">
        </p>
        <p class="p-container">
            <input type="button" name="go" id="getChars" onclick="SendRequest('#charList', 'alert-api-main', 'main')" value="Get Characters" />
        </p>
        <div id="charListContainer-main" hidden>
        <hr id="chars" />
        <p id="chars">
            <label for="SelectChar" style="color: #ccc;">SELECT CHARACTER</label><br>
        <div id="charList">
        </div>
        </p>
        <p class="p-container">
            <input type="hidden" name="form" value="sent">
            <input type="hidden" name="action" value="changeMain">
            <input type="submit" name="go" id="submit" value="SUBMIT" disabled />
        </p>
        </div>
        </form>
        <hr id="danger"/>
    <table>
        <tr>
            <td>
                <span id="danger">If you're sure you want to delete the current api, click on this button! If you're not sure, don't touch the button!</span>
            </td>
            <td>
                <p class="p-container">
                    <form id="formSettings2" action="settings.php?a=api" method="post">
                        <input type="hidden" name="form" value="sent">
                        <input type="hidden" name="action" value="ban">
                        <input type="submit" name="delete" id="danger" value="DELETE">
                    </form>
                </p>
            </td>
        </tr>
    </table>
    </div>
<hr />    
    {% if errorSecMsg is defined %}
        {% set isErrorSecHidden = "" %}
    {% else %}
        {% set isErrorSecHidden = "hidden" %}
    {% endif %}
    <div class="inset" id="SetIns">
    <form id="formSettings2" action="settings.php?a=api" method="post">
        <div class="alert alert-danger" role="alert" {{isErrorSecHidden}}>
        {{errorSecMsg}}
        </div> 
    {% if secSuccess is defined %}
        {% set isSecSuccessHidden = "" %}
    {% else %}
        {% set isSecSuccessHidden = "hidden" %}
    {% endif %}
    <div class="alert alert-danger" role="alert" id="success2" {{isSecSuccessHidden}}>
        {{secSuccess}}
    </div>
        <div class="alert alert-danger" role="alert-api-sec" hidden></div>
        <h2>ADD SECONDARY API</h2>
        <br>
        <p>
            <label for="username">KEY ID</label>
            <input type="text" role="keyID-sec" name="keyID" id="keyID2">
        </p>
        <p>
            <label for="vCode">VERIFICATION CODE</label>
            <input type="text" role="vCode-sec" name="vCode" id="vCode2">
        </p>
        <br>
        <!--<div class="alert alert-danger" role="alert">Sorry, but key ID or vCode incorrect!</div>-->
        <p class="p-container">
            <input type="button" name="go" id="getChars" onclick="SendRequest('#charListSec', 'alert-api-sec', 'sec')" value="Get Characters" />
        </p>
        <div id="charListContainer-sec" hidden>
        <hr id="chars" />
            <p id="chars">
                <label for="SelectChar" style="color: #ccc;">SELECT CHARACTER</label><br>
                <div id="charListSec">
                </div>
            </p>
            <p class="p-container">
                <input type="hidden" name="form" value="sent">
                <input type="hidden" name="action" value="addSec">
                <input type="submit" name="go" id="submit" value="SUBMIT" />
            </p>
        </div>  
        <!--<div class="alert alert-danger" role="alert" id="success">Your api successfully added!</div>-->
    </form>
    </div>
    <div class="inset" id="SetIns">
    {% if apiList is defined %}
    {% for api in apiList %}
    <form id="formSettings2" action="settings.php?a=api" method="post">  
        <h2>SECONDARY API FOR {{api.characterName}}</h2>
        <p>
            <label for="username">KEY ID</label>
            <input type="text" name="keyDelete" id="keyID2" value="{{api.keyID}}" disabled>
        </p>
        <p>
            <label for="vCode">VERIFICATION CODE</label>
            <input type="text" name="vCode" value="{{api.vCode}}" id="vCode2" disabled>
        </p>
        <br>
        <!--<div class="alert alert-danger" role="alert">Sorry, but key ID or vCode incorrect!</div>-->
        <p class="p-container">
            <input type="hidden" name="characterID" value="{{ api.characterID }}">
            <input type="hidden" name="form" value="sent">
            <input type="hidden" name="action" value="deleteSec">
            <input type="submit" name="delete" id="danger" value="DELETE">
        </p>
    <hr />
    </form>
    <!--<div class="alert alert-danger" role="alert" id="success">Your api successfully changed!</div>-->
    {% endfor %}
    {% endif %}
    </div>
</div>
<!--Конец смены API-->
 {% elseif curForm == 'teamspeak' %}
    {% if errorMsgTS is defined %}
        {% set isErrorTSHidden = "" %}
    {% else %}
        {% set isErrorTSHidden = "hidden" %}
    {% endif %}
<!--Форма регистрации в ТС-->
{% if hasReg == 0 %}
<div id="formSettings"> 
    <h1>PROFILE SETTINGS - TEAMSPEAK</h1>
        <div class="alert alert-danger" role="alert" {{isErrorTSHidden}}>
        {{errorMsgTS}}
        </div>
    {% if regSuccess is defined %}
        {% set isSuccessHidden = "" %}
    {% else %}
        {% set isSuccessHidden = "hidden" %}
    {% endif %}
    <div class="alert alert-danger" role="alert" id="success2" {{isSuccessHidden}}>
        Registration is successful. Congratulations! There is only one step left to become full coalition member.
    </div>
        <!--<div class="alert alert-danger" role="alert" id="success2">SUCCESS</div>-->
    <div class="inset" id="SetIns">
        <!--<span>Вот сюда надо будет вставить текст на тему того, что есть 2  варианта регистрации в ТС: с использованием Unique ID (для продвинутых пользователей) и пошагово (для неопытных)</span>-->
        <h2>REGISTRATION IN TEAMSPEAK</h2>
            <br>
            <span id="danger">Don't click "REGISTER" if you're NOT on TeamSpeak!</span>
            <hr id="danger" />
        <table>
            <tr>
                <td>
                    <span>Open TeamSpeak using the button "Open TeamSpeak".<br>Once you're connected to the TeamSpeak server, press "register" button.<br>If "Open teamspeak" button doesn't work for you, please connect to the server manually.<br>Server address: <b>coalition.redalliance.pw</b><br>Nickname: <b>{{TSNickname}}</b></span>
                </td>
                <td>
                    <p class="p-container">
                        <input type="button" name="go" id="go" value="OPEN TEAMSPEAK" onclick="location.href='ts3server://coalition.redalliance.pw?nickname={{TSNickname}}&addbookmark=Coalition Teamspeak'">
                    </p> 
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <form id="formSettings2" action="settings.php?a=teamspeak" method="post">            
                        <p class="p-container">
                            <input type="hidden" name="action" value="TS">
                            <input type="hidden" name="form" value="sent">
                            <input type="submit" name="go" id="go" value="REGISTER">
                        </p> 
                    </form>
                </td>
            </tr>
       </table>
    </div>
</div>
<!--Форма регистрации в ТС -->
{% elseif hasReg == 1 %}
<div id="formSettings">
    <h2>You are already registered in Teamspeak as:<span style="margin: 20px;">{{hasTSReg.nickName}}</span></h2>
    <form id="formSettings2" action="settings.php?a=teamspeak" method="post">
    <br>
        <p>
            <label for="UniqueID">UNIQUE ID</label>
            <input type="text" name="UniqueID" value="{{hasTSReg.uniqueID}}" id="UID">
        </p>  
    <hr id="danger"/>
    <span id="danger">you can delete your account in Teamspeak. Be careful removal will not be restored</span>
        <p class="p-container">
            <input type="hidden" name="action" value="delete">
            <input type="hidden" name="form" value="sent">
            <input type="submit" name="delete" id="danger" value="DELETE">
        </p> 
    </form>
</div>
{% endif %}
{% else %}
    {% if errorMsg is defined %}
        {% set isErrorHidden = "" %}
        {% set isErrorEmailHidden = "hidden" %}
        {% set isErrorPasswordHidden = "hidden" %}
    {% else %}
        {% set isErrorHidden = "hidden" %}
        {% if errorMsgEmail is defined %}
            {% set isErrorEmailHidden = "" %}
        {% else %}
            {% set isErrorEmailHidden = "hidden" %}
        {% endif %}
        {% if errorMsgPassword is defined %}
            {% set isErrorPasswordHidden = "" %}
        {% else %}
            {% set isErrorPasswordHidden = "hidden" %}
        {% endif %}
    {% endif %}
<!--Форма смены почты и пароля-->
<div id="formSettings">
    <form id="formSettings2" action="settings.php" method="post">  
        <h1>PROFILE SETTINGS - MAIN</h1>
        <div class="inset" id="SetIns">
        <div class="alert alert-danger" role="alert" {{isErrorHidden}}>
        {{errorMsg}}
        </div>
        {% if success is defined %}
        {% set isSuccessHidden = "" %}
    {% else %}
        {% set isSuccessHidden = "hidden" %}
    {% endif %}
    <div class="alert alert-danger" role="alert" id="success2" {{isSuccessHidden}}>
        {{success}}
    </div>
            <h2>NOTIFICATIONS</h2>
                <div class="amPmCheckbox">
                    <input type="checkbox" name="emailnotif" class="checkboxLabel main_street_input" id="ch1" value="1" {{saveForm.emailChecked}} />
                    <label for="ch1">Send me notifications by e-mail</label>
                </div>
                <div class="amPmCheckbox">
                    <input type="checkbox" name="jabbernotif" class="checkboxLabel main_street_input" id="ch2" value="1" {{saveForm.jabberChecked}} />
                    <label for="ch2">Send me notifications by Jabber</label>
                </div>
            <hr />
            <h2>ADD / CHANGE E-MAIL</h2>
            <div class="alert alert-danger" role="alert" id="email2" {{isErrorEmailHidden}}>
            {{errorMsgEmail}}
            </div>
            <p>
                <label for="email">E-MAIL</label>
                <input type="text" name="email" value="{{saveForm.email}}" id="email2">
            </p>
          <div class="alert alert-danger" role="alert-email" hidden></div>
        <!--<div class="amPmCheckbox">
        <input type="checkbox" name="allow" class="checkboxLabel main_street_input" id="ch2" value="1" />
        <label for="ch2">I allow users to send e-mail to me</label>
        </div>-->
            <h2>CHANGE PASSWORD</h2>
            <div class="alert alert-danger" role="alert" id="email2" {{isErrorPasswordHidden}}>
            {{errorMsgPassword}}
            </div>
            <p>
                <label for="password">NEW PASSWORD</label>
                <input type="password" name="password" id="password2"><br>
            <span id="passmust">Your password must:</span>
            <ul id="reqs">
                <li id="length">Have more than 8 symbols</li>
                <li id="numbers">Have at least 1 number</li>
                <li id="upperCase">Have at least 1 upper-case letter</li>
                <li id="lowerCase">Have at least 1 lower-case letter</li>
            </ul>
            </p>
            <!--<div class="alert alert-danger" role="alert" id="password2">Sorry, but password is very simple!</div>-->
            <p>
                <label for="password">REPEAT NEW PASSWORD</label>
                <input type="password" name="passwordRepeat" id="password2">
            </p>
            <div class="alert alert-danger" role="alert-password-repeat" hidden></div>
            <!--<div class="alert alert-danger" role="alert" id="password2">Sorry, but the password doesn't match!</div>-->
            <p>
            <hr />
                <label for="password">CURRENT PASSWORD</label>
                <input type="password" name="currentPassword" id="password2">
            </p>
        <!--<div class="alert alert-danger" role="alert" id="password2">Sorry, but login or password incorrect!</div>-->

            <p class="p-container">
                <input type="hidden" name="form" value="sent">
                <input type="submit" name="go" id="go" value="SUBMIT">
            </p>
        </div>
<!--Конец формы смены почты и пароля-->
    </form>
</div>
 {% endif %}    
{% endblock %}