{% extends "base.twig" %}

{% block title %}Profile Settings{% endblock %}

{% block content %}
    <script type="text/javascript" src="js/scripts.js"></script>
<div class="container">
    <ul class="nav nav-tabs navbar-inverse" role="tablist">
        <li {{active.profile}}><a href="settings.php">PROFILE</a></li>
        <li {{active.api}}><a href="settings.php?a=api">EVE API</a></li>
        <li {{active.teamspeak}}><a href="settings.php?a=teamspeak">TeamSpeak</a></li>
    </ul>
 {% if curForm == 'api' %}
<!--Форма смены API-->
    <div class="container" id="formSettings">
        <h1>PROFILE SETTINGS - API</h1>
    <form id="formSettings2" action="settings.php?a=api" method="post">
        <div class="inset" id="SetIns">       
            <h2>CURRENT API</h2>
            <br>
            <div class="container" style="margin: 20px;">
            <span>If you want change your API put new key ID and vCode in the fields.</span><br>
            <a href="https://support.eveonline.com/api/key/createpredefined/8">You can get Key ID & vCode here</a>
            </div>
                <p>
                    <label for="keyIDOld">KEY ID</label>
                    <input type="text" name="keyID" value="{{saveForm.currKeyID}}"  id="keyID2">
                </p>  
                <p>
                    <label for="vCodeOld">VERIFICATION CODE</label>
                    <input type="text" name="vCode" value="{{saveForm.currVCode}}" id="vCode2">
                </p>
                <p class="p-container">
                    <input type="button" name="go" id="getChars" onclick="SendRequest()" value="Get Characters" />
                </p>
    <hr id="chars" hidden />
                <p id="chars" hidden>
                    <label for="SelectChar" style="color: #ccc;">SELECT CHARACTER</label><br>
                <div id="charList">
                </div>
                </p> 
                <p class="p-container">
                    <input type="hidden" name="form" value="sent">
                    <input type="submit" name="go" id="submit" value="SUBMIT" disabled />
                </p>
    <hr id="danger"/>
            <table>
                <tr>
                    <td>
                        <span id="danger">If you're sure you want to delete the current api, click on this button! If you're not sure, don't touch the button!</span>
                    </td>
                    <td>
                        <p class="p-container">
                        <input type="button" name="delete" id="danger" value="DELETE">
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </form>
 <hr />
    <form id="formSettings2" action="settings.php?a=api" method="post">
        <div class="inset" id="SetIns">
            <h2>ADD SECONDARY API</h2>
            <br>
            <p>
                <label for="username">KEY ID</label>
                <input type="text" name="usermane" id="keyID2">
            </p>
            <p>
                <label for="vCode">VERIFICATION CODE</label>
                <input type="text" name="vCode" id="vCode2">
            </p>
            <br>
            <!--<div class="alert alert-danger" role="alert">Sorry, but key ID or vCode incorrect!</div>-->
             <p class="p-container">
                <input type="button" name="go" id="getChars" onclick="SendRequest()" value="Get Characters" />
            </p>     
    <hr id="chars" hidden />
            <p id="chars" hidden>
                <label for="SelectChar" style="color: #ccc;">SELECT CHARACTER</label><br>
                <div id="charList">
                </div>
            </p>  
            <p class="p-container">
                <input type="hidden" name="form" value="sent">
                <input type="submit" name="go" id="submit" value="SUBMIT" disabled />
            </p>
            <!--<div class="alert alert-danger" role="alert" id="success">Your api successfully added!</div>-->
        </div>
    </form>  
 <hr />
    <form id="formSettings2" action="settings.php?a=api" method="post">  
        <div class="inset" id="SetIns">
            {% if apiList is defined %}
            {% for api in apiList %}
            <h2>SECONDARY API FOR {{api.charName}}</h2>
            <p>
                <label for="username">KEY ID</label>
                <input type="text" name="usermane" id="keyID2" value="{{api.keyID}}" disabled>
            </p>
            <p>
                <label for="vCode">VERIFICATION CODE</label>
                <input type="text" name="vCode" value="{{api.vCode}}" id="vCode2" disabled>
            </p>
            <br>
            <!--<div class="alert alert-danger" role="alert">Sorry, but key ID or vCode incorrect!</div>-->

            <p class="p-container">
               <input type="hidden" name="form" value="delete">
                <input type="button" name="delete" id="danger" value="DELETE">
            </p>
            <hr />
            <!--<div class="alert alert-danger" role="alert" id="success">Your api successfully changed!</div>-->
            {% endfor %}
            {% endif %}
        </div>
    </form>
    </div>
<!--Конец смены API-->
    </div>
{% else %}
    {% if errorMsg is defined %}
        {% set isErrorHidden = "" %}
        {% set isErrorEmailHidden = "hidden" %}
        {% set isErrorPasswordHidden = "hidden" %}
    {% else %}
        {% set isErrorHidden = "hidden" %}
        {% if errorMsgEmail is defined %}
            {% set isErrorEmailHidden = "" %}
        {% else %}
            {% set isErrorEmailHidden = "hidden" %}
        {% endif %}
        {% if errorMsgPassword is defined %}
            {% set isErrorPasswordHidden = "" %}
        {% else %}
            {% set isErrorPasswordHidden = "hidden" %}
        {% endif %}
    {% endif %}
<!--Форма смены почты и пароля-->
    <form id="formSettings" action="settings.php" method="post">  
        <h1>PROFILE SETTINGS - MAIN</h1>
    <div class="inset" id="SetIns">
        <div class="alert alert-danger" role="alert" {{isErrorHidden}}>
            {{errorMsg}}
        </div>
        <h2>ADD / CHANGE E-MAIL</h2>
        <div class="alert alert-danger" role="alert" id="email2" {{isErrorEmailHidden}}>
            {{errorMsgEmail}}
        </div>
            <p>
                <label for="email">E-MAIL</label>
                <input type="text" name="email" value="{{saveForm.email}}" id="email2">
            </p>
            <!--<div class="amPmCheckbox">
                <input type="checkbox" name="allow" class="checkboxLabel main_street_input" id="ch2" value="1" />
                <label for="ch2">I allow users to send e-mail to me</label>
            </div>-->

        <h2>CHANGE PASSWORD</h2>
        <div class="alert alert-danger" role="alert" id="email2" {{isErrorPasswordHidden}}>
            {{errorMsgPassword}}
        </div>
            <p>
                <label for="password">NEW PASSWORD</label>
                <input type="password" name="password" id="password2">
            </p>
        <!--<div class="alert alert-danger" role="alert" id="password2">Sorry, but password is very simple!</div>-->
            <p>
                <label for="password">REPEAT NEW PASSWORD</label>
                <input type="password" name="passwordRepeat" id="password2">
            </p>
        <!--<div class="alert alert-danger" role="alert" id="password2">Sorry, but the password doesn't match!</div>-->
            <p>
            <hr />
                <label for="password">CURRENT PASSWORD FOR SAVE CHANGES</label>
                <input type="password" name="currentPassword" id="password2">
            </p>
        <!--<div class="alert alert-danger" role="alert" id="password2">Sorry, but login or password incorrect!</div>-->

            <p class="p-container">
               <input type="hidden" name="form" value="sent">
                <input type="submit" name="go" id="go" value="SUBMIT">
            </p>
    </div>
<!--Конец формы смены почты и пароля-->
    </form>
<!--Форма регистрации в ТС
<form id="formSettings">            
    <h1>TEAM SPEAK SETTINGS</h1>
    <div class="inset" id="SetIns">
        <span>Вот сюда надо будет вставить текст на тему того, что есть 2  варианта регистрации в ТС: с использованием Unique ID (для продвинутых пользователей) и пошагово (для неопытных)</span>
        <br>
        <hr />
        <h2>REGISTRATION IN TEAMSPEAK BY UNIQUE ID:</h2>
        <br>
            <p>
                <label for="UniqueID">UNIQUE ID</label>
                <input type="text" name="UniqueID" value="" id="UID">
            </p>
            <span>Если вы знаете, что такое UniqueID и как его найти в ТС, вставьте его в поле и нажмите кнопку "REGISTER"</span>
            <br>
            <p class="p-container">
               <input type="submit" name="go" id="go" value="REGISTER" disabled>
            </p>           
        <hr />
            <h2>REGISTRATION IN TEAMSPEAK FOR NEWBIES:</h2>
            <br>
            <span>Если вы не знаете, что такое UniqueID, и как его найти, тогда запустите клиент TeamSpeak при помощи кнопкт "Open TeamSpeak".</span>
            <br>
            <span id="danger">Не нажимайте кнопку "REGISTER" пока не зайдете в TeamSpeak!</span>
            <p class="p-container">
                <input type="button" name="go" id="go" value="OPEN TEAMSPEAK" disabled>
            </p>     
            <span>After log in TS push this register button</span>       
            <p class="p-container">
                <input type="submit" name="go" id="go" value="REGISTER" disabled>
            </p> 
    </div>
</form>
Форма регистрации в ТС -->
</div>
 {% endif %}    
{% endblock %}