{% extends "base.twig" %}

{% block title %}Standings{% endblock %}

{% block content %}
    {% if errorMsg is defined %}
        {% set isErrorHidden = "" %}
    {% else %}
        {% set isErrorHidden = "hidden" %}
    {% endif %}
    <div id="formSettings">
        <h1>Standings Page</h1>
        <h2><center>Red Alliance</center></h2>
            <table class="table table-condensed tablesorter" style="width: 99%; margin: 0 auto; margin-left: 5px;">
                <tbody>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td width = "25%" style="color: #f6c000;">ALLIANCES</td>
                                    <td width = "5%" style="color: #f6c000;"><center>STAND</center></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td width = "25%" style="color: #f6c000;">CORPORATIONS</td>
                                    <td width = "5%" style="color: #f6c000;"><center>STAND</center></td>
                            </table>
                        </td> 
                        <td>
                            <table>
                                <tr>
                                    <td width = "25%" style="color: #f6c000;">CHARACTERS</td>
                                    <td width = "5%" style="color: #f6c000;"><center>STAND</center></td>
                                </tr>
                            </table>
                        </td> 
                    </tr> 
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td width = "25%" title="+10">Dream Fleet</td>
                                    <td width = "5%" title="+10"><center><img src="images/plus10.png"></img></center></td> 
                                </tr>
                                <tr>
                                    <td title="-5">Northern Coalition.</td>
                                    <td title="-5"><center><img src="images/minus5.png"></img></center></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td width = "25%" title="+5">Dixon Cox - Squid Adventures</td>
                                    <td width = "5%" title="+5"><center><img src="images/plus5.png"></img></center></td>
                                </tr>
                                <tr>
                                    <td title="0">Brutal Relax</td>
                                    <td title="0"><center><img src="images/neut.png"></img></center></td>
                                </tr>
                            </table>
                        </td> 
                        <td>
                            <table>
                                <tr>
                                    <td width = "25%" title="-10">xDjaGeRnauTx</td>
                                    <td width = "5%" title="-10"><center><img src="images/minus10.png"></img></center></td>
                                </tr>
                                <tr>
                                    <td title="-10">Aungverdal</td>
                                    <td title="-10"><center><img src="images/minus10.png"></img></center></td>
                                </tr>
                            </table>
                        </td> 
                    </tr> 
                </tbody>
            </table>         
        
        <div class="alert alert-danger" role="alert" {{isErrorHidden}}>
            {{errorMsg}}
        </div>
        {% for alliance, types in standings %}
            <h2>{# Тут выводится имя альянса: #}{{ alliance }}</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Standings</th>
                    </tr>
                </thead>
                <tbody>
                    {% for type, typeStanding in types %}
                        <tr>
                            <td>{# Тип стендов: char/corp/alliance #}{{type}}</td>
                            <td>
                                <table class="">
                                    <tbody>
                                        {% for name, standing in typeStanding %}
                                            <tr>
                                            <td>{# Кому проставлен стенд #}{{name}}</td>
                                            <td>{# Сам стенд #}{{standing}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        </div>
{% endblock %}