{% extends "base.twig" %}

{% block title %}Wormholes{% endblock %}

{% block content %}
    
    <script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    
    <div id="formSettings">
        <h1>Wormholes
        <p class="p-container" style="float: left;">
            <input type="button" name="add" id="" onclick="" value="ADD NEW" />
        </p>
        </h1>
            <table class="table table-condensed tablesorter" style="width: 98%; margin: 0 auto; margin-left: 5px;" id="posmonSort">
                <thead>
                    <tr></tr>
                    <tr align="center">
                        <th width = "10%"><center><a id="tablehead" style="font-size: 14px;">ID </a><i class="fa fa-sort" style="color:#ccc;"></i></center></th>
                        <th width = "10%"><center><a id="tablehead" style="font-size: 14px;">TYPE </a><i class="fa fa-sort" style="color:#ccc;"></i></center></th>
                        <th width = "10%"><center><a id="tablehead" style="font-size: 14px;">AGE </a><i class="fa fa-sort" style="color:#ccc;"></i></center></th>
                        <th width = "13%"><center><a id="tablehead" style="font-size: 14px;">SYSTEM </a><i class="fa fa-sort" style="color:#ccc;"></i></center></th>
                        <th width = "13%"><center><a id="tablehead" style="font-size: 14px;">LEADS TO </a><i class="fa fa-sort" style="color:#ccc;"></i></center></th>
                        <th width = "12%"><center><a id="tablehead" style="font-size: 14px;">LIFE </a><i class="fa fa-sort" style="color:#ccc;"></i></center></th>
                        <th width = "12%"><center><a id="tablehead" style="font-size: 14px;">MASS </a><i class="fa fa-sort" style="color:#ccc;"></i></center></th>
                        <th width = "10%"><center><a id="tablehead" style="font-size: 14px;"></a></center></th>
                        <th width = "10%"><center><span class="glyphicon glyphicon-refresh" style="color:#ccc;"></span></center></th>
                    </tr>
                </thead>
                <tbody>
                    {% for wh in WHList%}
                    <tr>
                        <td><center><span style="font-size: 14px; cursor: help;" title="Scanned by: 
                                      {{wh.Scanned_by}}">{{wh.ID}}</span></center></td>
                        <td><center><span style="font-size: 14px; cursor: help;" title="Life: {{wh.Type.Life}} Hours
Leads To: {{wh.Type.Leads_To}}
Max Mass: {{wh.Type.Max_Mass / 1000000}} Mil Kg
Max Jumpable: {{wh.Type.Max_Jumpable / 1000000}} Mil Kg">{{wh.Type.Name}}</span></center></td>
                        <td><center><span style="font-size: 14px; cursor: help;" title="Created: {{wh.Created}}
{% if wh.Last_Modified %}Last Modified: {{wh.Last_Modified}}{% endif %}">{{wh.Age}}</span></center></td>
                        <td><center>{% if wh.System.Wormhole_Class %}
                            <span id="danger" style="font-size: 14px; cursor: help;" title="Wormhole Class: {{wh.System.Wormhole_Class}}
{% if wh.System.Static1 %}Static: {{wh.System.Static1.Name}} to {{wh.System.Static1.Leads_To}}{% if wh.System.Static2 %} and {{wh.System.Static2.Name}} to {{wh.System.Static2.Leads_To}}{% endif %}{% endif %}
{% if wh.System.System_Effect %}System Effect: {{wh.System.System_Effect}}{% endif %}">{{wh.System.Name}}</span>
                        {% else %}
                            {% if wh.System.Security_Level < 0.5 and wh.System.Security_Level > 0 %}{% set id = "attention" %}
                            {% elseif wh.System.Security_Level < 0 %}{% set id = "danger" %}
                            {% else %}{% set id = "success" %}
                            {% endif %}
                            <span id="{{id}}" style="font-size: 14px; cursor: help;" title=" Region: {{wh.System.Region}}
Constellation: {{wh.System.Constellation}}
Security Level: {{wh.System.Security_Level}}">{{wh.System.Name}}</span>
                        {% endif %}</center></td>
                        <td><center>{% if wh.Leads_To.Wormhole_Class %}
                            <span id="danger" style="font-size: 14px; cursor: help;" title="Wormhole Class: {{wh.Leads_To.Wormhole_Class}}
{% if wh.Leads_To.Static1 %}Static: {{wh.Leads_To.Static1.Name}} to {{wh.Leads_To.Static1.Leads_To}}{% if wh.Leads_To.Static2 %} and {{wh.Leads_To.Static2.Name}} to {{wh.Leads_To.Static2.Leads_To}}{% endif %}{% endif %}
{% if wh.Leads_To.System_Effect %}System Effect: {{wh.Leads_To.System_Effect}}{% endif %}">{{wh.Leads_To.Name}}</span>
                        {% else %}
                            {% if wh.Leads_To.Security_Level < 0.5 and wh.Leads_To.Security_Level > 0 %}{% set id = "attention" %}
                            {% elseif wh.Leads_To.Security_Level < 0 %}{% set id = "danger" %}
                            {% else %}{% set id = "success" %}
                            {% endif %}
                            <span id="{{id}}" style="font-size: 14px; cursor: help;" title=" Region: {{wh.Leads_To.Region}}
Constellation: {{wh.Leads_To.Constellation}}
Security Level: {{wh.Leads_To.Security_Level}}">{{wh.Leads_To.Name}}</span>
                        {% endif %}</center></td>
                        <td><center><span style="font-size: 14px;" {% if wh.Life == "Critical" %}id="danger"{% endif %}>{{wh.Life}}</span></center></td>
                        <td><center><span style="font-size: 14px;" {% if wh.Mass == "Critical" %}id="danger"{% elseif wh.Mass == "Destab" %}id="attention"{% endif %}>{{wh.Mass}}</span></center></td>
                        <td>
                            <p class="p-container" style="height:20px;">
                                <input type="button" name="EDIT" id="" onclick="" class="btnsmallwh" value="EDIT" />
                            </p>
                        </td>
                        <td>
                            <p class="p-container" style="height:20px;">
                                <input type="button" name="DELETE" id="danger" onclick="" class="btnsmallwh" value="DELETE" />                               
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <form>
        <h1 style="color: #f6c000; font-size: 20px;">ADD WORMHOLE</h1>
        <hr />
        <table style="margin-left: 50px;">
            <tr>
                <td style="width: 80px">
                    <span>ID: ###-[###]</span>
                </td>
                <td style="width: 150px">
                    <input type="text" name="ID" style="width: 150px;">
                </td>
            </tr>
            <tr>
                <td style="width: 80px">
                    <span>TYPE:</span>
                </td>
                <td style="width: 150px">
                    <input type="text" name="Type" style="width: 150px;">
                </td>
            </tr>
            <tr>
                <td style="width: 80px">
                    <span>SYSTEM:</span>
                </td>
                <td style="width: 150px">
                    <input type="text" name="System" style="width: 150px;">
                </td>
            </tr>
            <tr>
                <td style="width: 80px">
                    <span>LEADS TO:</span>
                </td>
                <td style="width: 150px">
                    <input type="text" name="Leads" style="width: 150px;">
                </td>
            </tr>
        </table>
        <table style="margin-left: 50px; margin-top: 20px">
            <tr>
                <td style="width: 150px">
                    <li class="dropdown" style="list-style-type: none;">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="menu" data-target="#" href="#" id="caret">
                            LIFE:
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">STABLE</a></li>
                            <li><a href="#">CRITICAL</a></li>
                        </ul>
                    </li>
                </td>
                <td style="width: 150px">
                    <li class="dropdown" style="list-style-type: none;">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="menu" data-target="#" href="#" id="caret">
                            MASS:
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">STABLE</a></li>
                            <li><a href="#">DESTAB</a></li>
                            <li><a href="#">CRITICAL</a></li>
                        </ul>
                    </li>
                </td>
            </tr>
        </table>
        <hr />
        <div class="p-container" style="padding-left: 20px;">
            <input type="button" class="btnsmallwh" name="CANCEL" value="CANCEL" style="margin-right:80px;">  
            <input type="button" class="btnsmallwh" name="ADD" value="ADD" style="margin-right:50px;">
        </div>    
        <br>
    </form>
{% endblock %}